 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('images/man-barbershop-salon-doing-haircut-beard-trim1-min.jpg');
}

.u-section-1 .u-sheet-1 {
  min-height: 792px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 5.625rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 795px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  width: 795px;
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px auto 0;
  padding: 18px 42px 18px 41px;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 60px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1470px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 55px;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 12.6667px);
  grid-template-columns: repeat(3, calc(33.3333% - 12.6667px));
  min-height: 1075px;
  --gap: 19px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  height: 355px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 20px auto 0 0;
  padding: 17px 26px 17px 24px;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  height: 355px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 20px auto 0 0;
  padding: 17px 26px 17px 24px;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  height: 355px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 20px auto 0 0;
  padding: 17px 26px 17px 24px;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  height: 355px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-10 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-4 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 20px auto 0 0;
  padding: 17px 26px 17px 24px;
}

.u-section-2 .u-list-item-5 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-5 {
  height: 355px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-5 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 20px auto 0 0;
  padding: 17px 26px 17px 24px;
}

.u-section-2 .u-list-item-6 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-image-6 {
  height: 355px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-14 {
  text-transform: uppercase;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-6 {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  margin: 20px auto 0 0;
  padding: 17px 26px 17px 24px;
}

.u-section-2 .u-text-15 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 60px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 12.6667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 12.6667px));
    min-height: 886px;
    grid-gap: 19px;
  }

  .u-section-2 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.500025px);
    grid-template-columns: repeat(2, calc(50% - 9.500025px));
    min-height: 1527px;
  }

  .u-section-2 .u-image-1 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-5 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-6 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 20px;
  }

  .u-section-2 .u-image-1 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 20px;
  }

  .u-section-2 .u-image-2 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 20px;
  }

  .u-section-2 .u-image-4 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 20px;
  }

  .u-section-2 .u-image-6 {
    height: 325px;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 852px;
}

.u-section-3 .u-text-1 {
  margin: 70px auto 0;
}

.u-section-3 .u-tabs-1 {
  min-height: 574px;
  margin-top: 40px;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-3 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-3 .u-tab-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-tab-link-4 {
  font-size: 1rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 10px 25px;
}

.u-section-3 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 232px;
  height: 232px;
  background-image: url("images/man-cuts-his-beard-barbershop_111.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-2 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-3 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-3 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 232px;
  height: 232px;
  background-image: url("images/handsome-man-cutting-beard-barber-4.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-5 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-3 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  width: 232px;
  height: 232px;
  background-image: url("images/portrait-man-barbershop-with-cla.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-7 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-3 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  width: 232px;
  height: 232px;
  background-image: url("images/stylish-man-sitting-barbershop_11.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  line-height: 1.8;
  width: 774px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-9 {
  width: 774px;
  margin: 20px auto 0;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  margin: 30px auto 70px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-style: italic;
  border-style: solid;
  padding: 0;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 660px;
  }

  .u-section-3 .u-text-3 {
    width: 660px;
  }

  .u-section-3 .u-text-4 {
    width: 660px;
  }

  .u-section-3 .u-text-5 {
    width: 660px;
  }

  .u-section-3 .u-text-6 {
    width: 660px;
  }

  .u-section-3 .u-text-7 {
    width: 660px;
  }

  .u-section-3 .u-text-8 {
    width: 660px;
  }

  .u-section-3 .u-text-9 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    width: 520px;
  }

  .u-section-3 .u-text-3 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    width: 520px;
  }

  .u-section-3 .u-text-5 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-6 {
    width: 520px;
  }

  .u-section-3 .u-text-7 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-8 {
    width: 520px;
  }

  .u-section-3 .u-text-9 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 320px;
  }

  .u-section-3 .u-text-3 {
    width: 320px;
  }

  .u-section-3 .u-text-4 {
    width: 320px;
  }

  .u-section-3 .u-text-5 {
    width: 320px;
  }

  .u-section-3 .u-text-6 {
    width: 320px;
  }

  .u-section-3 .u-text-7 {
    width: 320px;
  }

  .u-section-3 .u-text-8 {
    width: 320px;
  }

  .u-section-3 .u-text-9 {
    width: 320px;
  }
}